section.about
  .flex.flex--center
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eum quaerat vitae ullam doloremque, cumque suscipit, aliquam aperiam illum temporibus. Voluptate mollitia maxime suscipit assumenda ex enim, eius aperiam velit.
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tenetur facere, pariatur. Explicabo eaque hic amet excepturi magni ipsam! Nesciunt, velit inventore magni officiis tempora ullam amet sit. Esse, quasi.


section.yada
  .flex.flex--space-around
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eum quaerat vitae ullam doloremque, cumque suscipit, aliquam aperiam illum temporibus. Voluptate mollitia maxime suscipit assumenda ex enim, eius aperiam velit.
    .col-1.order-first
      p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tenetur facere, pariatur. Explicabo eaque hic amet excepturi magni ipsam! Nesciunt, velit inventore magni officiis tempora ullam amet sit. Esse, quasi.


section.yadayada
  .flex.flex--center
    .col-2
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eum quaerat vitae ullam doloremque, cumque suscipit, aliquam aperiam illum temporibus. Voluptate mollitia maxime suscipit assumenda ex enim, eius aperiam velit.
    

section.yoda
  .flex.flex--space-around
    .col-50.flex.flex--center
      .col-1
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eum quaerat vitae ullam doloremque, cumque suscipit, aliquam aperiam illum temporibus. Voluptate mollitia maxime suscipit assumenda ex enim, eius aperiam velit.
    
    .col-50          
      p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tenetur facere, pariatur. Explicabo eaque hic amet excepturi magni ipsam! Nesciunt, velit inventore magni officiis tempora ullam amet sit. Esse, quasi.
