h1.logo JS

nav.site-nav
  ul
    li: a(href="about.html") About
    li: a(href="work.html") Work
    li: a(href="youtube.html") Youtube
    li: a(href="article.html") Articles

a(href="mailto:jamesrs@gmail.com")  +email me
